.container {
    height: 100%;
    display: flex;
    background-color: aliceblue;
    flex-direction: column;




    .chatContainer {
        height: 100%;
        background-color: white;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 2px 16px;
        margin: 5px 0 5px 0;
        border-radius: 6px;
    }

    .left {
        display: flex;
        flex-direction: column;
        width: 300px;

    }

    .right {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        background-color: aqua;
        height: 100%;

        .messagesContainer {
            height: 100%;
        }
    }
}
