
.container{
    height: 100%;
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    width: 100%;
    overflow: scroll;

}

.mainContent {
    right:0;
    left:0;
    margin: auto;
    height: auto;
    width: 45vw;
    display: flex;
    flex-direction: column;
}

