/* Header */

.container {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    min-height: 80px;
    max-height: 80px;
    background-color: #fcfcfc;
    display: flex;
    flex-shrink: none;
    position: relative;
    margin-bottom: 10px;
    align-items: center;
    position:sticky;
    top: 0;
   
}

.logoContainer {
    right: 2em;
    height: 70px;
    width: auto;
    position: absolute;
    img {
        height: 100%;
        width: auto;
    }
}

/* Single Blog */

.blogContainer {
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.userField{
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.blogUserThumb{
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-right: 1em;
}

.blogImage{
    width: 100%;
    height:auto;
    padding: 1em 0;

    img {
        width: 100%;
        height: auto;
        background-color: black;
        border-radius: 6px;
    }
}
