div {
    form {
        display: flex;
        flex-direction: column;

        :last-child{
            margin: 1em 0;
        }

        textarea {
            resize: none;
            height: 60px;
        }
    }
}