/* Header */

.container {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    min-height: 80px;
    max-height: 80px;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
   
}

.logoContainer {
    right: 2em;
    height: 70px;
    width: auto;
    position: absolute;
    img {
        height: 100%;
        width: auto;
    }
}

/* Single Blog */

